In [51]:
import pandas as pd
import datetime

In [52]:
df = pd.read_csv("archive/covid_19_data.csv")

In [53]:
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [57]:
len(df['Country/Region'].unique())

226

In [6]:
df['ObservationDate'] = pd.to_datetime(df["ObservationDate"])
df['ObservationDate'].head()

0   2020-01-22
1   2020-01-22
2   2020-01-22
3   2020-01-22
4   2020-01-22
Name: ObservationDate, dtype: datetime64[ns]

In [7]:
df['Last Update'] = pd.to_datetime(df['Last Update'])
df['Last Update'].head()

0   2020-01-22 17:00:00
1   2020-01-22 17:00:00
2   2020-01-22 17:00:00
3   2020-01-22 17:00:00
4   2020-01-22 17:00:00
Name: Last Update, dtype: datetime64[ns]

In [8]:
df.columns = ["SNo", 'ObservationDate', 'state', 'country', 'lastUpdate', 'Confirmed', 'Deaths', 'Recovered']

In [9]:
df.head()

,SNo,ObservationDate,state,country,lastUpdate,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0

In [10]:
df.to_csv("covid_19_data_renamed.csv")

In [11]:
df.index

RangeIndex(start=0, stop=205951, step=1)

In [12]:
df = df.drop(['SNo'], axis = 1)

In [13]:
df

,ObservationDate,state,country,lastUpdate,Confirmed,Deaths,Recovered
0,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...
205946,2021-01-19,Zaporizhia Oblast,Ukraine,2021-01-20 05:21:54,62492.0,738.0,39168.0
205947,2021-01-19,Zeeland,Netherlands,2021-01-20 05:21:54,13031.0,149.0,0.0
205948,2021-01-19,Zhejiang,Mainland China,2021-01-20 05:21:54,1316.0,1.0,1298.0
205949,2021-01-19,Zhytomyr Oblast,Ukraine,2021-01-20 05:21:54,42758.0,707.0,37834.0
205950,2021-01-19,Zuid-Holland,Netherlands,2021-01-20 05:21:54,224398.0,3153.0,0.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205951 entries, 0 to 205950
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ObservationDate  205951 non-null  datetime64[ns]
 1   state            150574 non-null  object
 2   country          205951 non-null  object
 3   lastUpdate       205951 non-null  datetime64[ns]
 4   Confirmed        205951 non-null  float64
 5   Deaths           205951 non-null  float64
 6   Recovered        205951 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(2)
memory usage: 11.0+ MB

In [15]:
df.head()

,ObservationDate,state,country,lastUpdate,Confirmed,Deaths,Recovered
0,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0

In [16]:
df.to_json("covid_19_data.json")

In [17]:
df_red = df.iloc[0:15000]

In [18]:
df_red.head()

,ObservationDate,state,country,lastUpdate,Confirmed,Deaths,Recovered
0,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0

In [19]:
df_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  15000 non-null  datetime64[ns]
 1   state            7546 non-null   object
 2   country          15000 non-null  object
 3   lastUpdate       15000 non-null  datetime64[ns]
 4   Confirmed        15000 non-null  float64
 5   Deaths           15000 non-null  float64
 6   Recovered        15000 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(2)
memory usage: 820.4+ KB

In [21]:
df_red.to_json("covid_19_data.json")

In [29]:
df_us = df[df['country'] == 'US']

"['US']"

In [45]:
u = len(df_us['country'])

In [50]:
integrity_check(df_us, "country")

[INFO] Integrity check Passed!!!